@model IEnumerable<product_manager.Models.ProductCategory>

@{
    ViewData["Title"] = "Index";
}

<div class="container p-3">
    <div class="form-group row">
        <div class="col col-6">
            <h4 class="text-primary">Product Categories</h4>
        </div>
        <div class="col col-6 text-right">
            <a asp-action="Create" class="btn btn-outline-primary">Create New</a>
        </div>
    </div>

    <div class="form-group row">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                <div class="text-center">
                                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary">Edit</a> |
                                    <a asp-controller="ProductCategory" asp-action="DeleteView" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
